<br><br>
<div class="jobs_page">
    <div class="container text-center">
        <h1 class="text1">Jobbörse</h1>
        <br><br>
        <p >
            Als Anbieter innovativer Lösungen für Dienstleister aus der Veranstaltungsbranche bieten wir, EPI developement, in unserem Geschäftsbereich die Software "epirent" sowie Individuallösungen für die verschiedensten Einsätze an. Unsere Lösungen führen zu spürbaren Effizienzsteigerungen bei der Abarbeitung von Kundenanfragen sowie der Realisierung von Projekten. 
            Über 1000 Unternehmen setzen bereits heute auf EPI Technologie, darunter auch große namenhafte Unternehmen der Branche.
        </p>
        <p >
            Zur Verstärkung unseres Teams suchen wir:
        </p>

        <div class="row jobs" >
            <div class="col-md-1"></div>
            <div class="col-md-10">

                <div class="row">
                    <div class="col-md-5 job" ng-click="navigateTo('jobs/1/de')">
                       <h1 class="text4">Vertriebsmitarbeiter (m/w)</h1>
                       <br>
                       <p >
                        In Vollzeit. Nettes Team und freundliche Kunden. 
                        </p>
                    </div>
                    <div class="br"></div>
                    <div class="col-md-2"></div>
                    <div class="col-md-5 job" ng-click="navigateTo('jobs/2/de')">
                        <h1 class="text4">Supporter/IT-Administrator (m/w)/in</h1>
                        <br>
                        <p >
                            In Vollzeit. Nettes Team und freundliche Kunden.
                         </p>
                    </div>
                    
                </div>
                <br>
                <div class="row">
                        <div class="col-md-5 job" ng-click="navigateTo('jobs/3/de')">
                       <h1 class="text4">Webentwickler (m/w)</h1>
                       <br>
                       <p >
                        In Vollzeit. Nettes Team und spannende Projekte.
                        </p>
                    </div>
                    <div class="br"></div>
                    <div class="col-md-2"></div>
                    <div class="col-md-5 job" ng-click="navigateTo('jobs/4/de')">
                        <h1 class="text4">Anwendungsentwickler (m/w)</h1>
                        <br>
                        <p >
                            In Vollzeit. Nettes Team und spannende Projekte.
                         </p>
                    </div>
                    
                </div>
                <br>
                <div class="row">
                        <div class="col-md-5 job" ng-click="navigateTo('jobs/5/de')">
                        <h1 class="text4">Mobile-Device-Anwendungs-Entwickler (m/w)</h1>
                       <br>
                       <p >
                        Auf Projektbasis. Nettes Team und spannende Projekte.
                        </p>
                    </div>
                    <div class="br"></div>
                    <div class="col-md-2"></div>
                    <div class="col-md-5 job" ng-click="navigateTo('jobs/6/de')">
                        <h1 class="text4">Reinigungskraft</h1>
                        <br>
                        <p >
                            Als Minijob oder Freelancer. Nettes Team und variable Arbeitszeiten.
                         </p>
                    </div>
                    
                </div>

            </div>
            <div class="col-md-1"></div>
        </div>

        

        <h1 class="text4">Interessiert?</h1>
        <p >
            Wir freuen uns auf Ihre vollständigen Bewerbungsunterlagen mit Angabe des frühestmöglichen Eintrittstermins. 
            Bewerbungen bitte an career{at}epi-dev.de senden
        </p>


    </div>
</div>