<!--DDESKTOP VIEW--><!--DDESKTOP VIEW--><!--DDESKTOP VIEW--><!--DDESKTOP VIEW--><!--DDESKTOP VIEW--><!--DDESKTOP VIEW-->

<div >
	<div ng-include="'content/_carousel/index.html'"></div>
</div>


<div class="overview_page hidden-xs">
	<!--
		<div class="sector1" >
			<div class="container-fluid text-center">
				<br><br>
				<h1><span>epi</span>rent V</h1>      
				<p>die effektivste rental business software</p>
				<br>
				<button type="button" class="btn btn-default button1" ng-click="gotoURL('http://v.epi.rent/')" >entdecke epirent V</button>
				<br><br>
				<span class="glyphicon glyphicon-play-circle playButton" ng-controller="videoPopupCtrl" ng-click="open('v.mp4')"></span>
			</div>
		</div>
	-->
	<div class="sectors1_2Gap"></div>
	<div class="sector2 container-fluid text-left">
		<div class="row">
			<div class="col-sm-6 img"></div>
			<div class="col-sm-1"></div>
			<div class="col-sm-5">
				<br>
				<br>
				<h1 class="text1">
					Dein Business perfekt organisiert.
				</h1>
				<h1 class="text2">
					Groß denken und
					kleine Schritte gehen.
				</h1>
				<p class="text3">
					epirent ist die Warenwirtschafts-Software für
					Vermietung und Verkauf mit einem enormen 
					Funktionsumfang und benutzerfreundlich in 
					der Organisation und Strukturierung vom 
					kleinen Business bis zum großen
					Unternehmen.
					
				</p>
				<a ng-controller="videoPopupCtrl" ng-click="open('epirent.mp4')" class="link1 cursorPointer">Lerne epirent kennen</a>
			</div>
		</div>
	</div>
	<div class="sectors2_3Gap"></div>
	<!--
	<div ng-controller="videoPopupCtrl">
		<button  ng-click="open('epi-presentation.mp4')">video</button>
	</div>
	-->
	<div class="sector3 container-fluid text-center">
		<div class="row">
			<div class="col-sm-12" style="padding-left:120px;padding-right:120px">
			
				<h1 class="text1">
					Unser Unternehmen.<br>
				</h1>
				<h1 class="text2">
					Am Zahn der Zeit.
				</h1>
				<p class="text3">
					epirent ist aus intensiver Zusammenarbeit mit der
					 Vermietbranche über Jahrzehnte gewachsen und liefert
					 praxisorientierte Workflows, die Dir helfen Deine Arbeit 
					 schnell und qualitativ hochwertig auszuführen.
					Kunden werden Dich für Deine Zuverlässigkeit 
					schätzen. Und das Beste dabei - mit wenig Aufwand.
										
				</p>
				<a ng-controller="videoPopupCtrl" ng-click="open('epi-story.mp4')" class="link1 cursorPointer">Lerne uns kennen</a>
			
			</div>
			
		</div>
	</div>	
	<div class="sectors3_4Gap"></div>
	<div class="sector4"></div>
	
	
	<div class="sector5 container-fluid text-left" >
		<div class="row">
			
			<div class="col-sm-1"></div>
			<div class="col-sm-5" style="padding-right:40px">
				<br><br><br>
				<h1 class="text1">
					Du lieferst das Ergebnis.
				</h1>
				<h1 class="text2">
					 Auf den Punkt.
				</h1>
				
				<p class="text3">
					Die Organisation und Planung von der kleinsten
					Schraube bis zum Line-Array System oder eine
					 komplette Mitarbeiterdisposition inklusive direkter
					  Kommunikation auf das Smartphone, gibt Dir die
					   Möglichkeit Dich immer auf das Wesentliche zu
					   konzentrieren - Dein nächstes Event!
					
				</p>
				<a ng-controller="videoPopupCtrl" ng-click="open('epiModule.mp4')" class="link1 cursorPointer">Mehr über Planung lernen...</a>
			</div>
			
			<div class="col-sm-6 img"></div>
		</div>
	</div>
</div>

<!--MOBILE VIEW --><!--MOBILE VIEW --><!--MOBILE VIEW --><!--MOBILE VIEW --><!--MOBILE VIEW --><!--MOBILE VIEW --><!--MOBILE VIEW -->
<div class="overview_page visible-xs">
	
		<!--
		<div class="sector1" >
			<div class="container-fluid text-center">
				<br><br><br><br>
				<h1 class="header1"><span>epi</span>rent V</h1>      
				<p>die effektivste rental business software</p>
				<br>
				<button  type="button" class="btn btn-default button1" ng-click="gotoURL('http://v.epi.rent/')">entdecke epirent V</button>
				<br><br>
				<span class="glyphicon glyphicon-play-circle playButton" ng-controller="videoPopupCtrl" ng-click="open('v.mp4')"></span>
			</div>
		</div>
		-->
	
	<div class="sectors1_2Gap"></div>
	<div class="sector2 container text-left">
		<div class="row">
			<div class="col-sm-12">
				<br>
				<h1 class="text1">
					Dein Business perfekt organisiert.
				</h1>
				<h1 class="text2">
					Groß denken und
					kleine Schritte gehen.
				</h1>
				<p class="text3">
					epirent ist die Warenwirtschafts-Software für
					Vermietung und Verkauf mit einem enormen 
					Funktionsumfang und benutzerfreundlich in 
					der Organisation und Strukturierung vom 
					kleinen Business bis zum großen
					Unternehmen.
					
				</p>
				<a ng-controller="videoPopupCtrl" ng-click="open('epirent.mp4')" class="link1 cursorPointer">Lerne epirent kennen</a>
			</div>
		</div>
	</div>
	<div class="sectors2_3Gap"></div>
	<div class="sector3" >
	  
		  	<img class="img-responsive img-center" src="images/audience_2.jpg" >
		  	
		  	
	</div>
	<div class="sectors3_4Gap"></div>
	<div class="sector4 container text-left">
		<div class="row">
			<div class="col-sm-12"><br>
				<h1 class="text1">
					Unser Unternehmen.
				</h1>
				<h1 class="text2">
					Am Zahn der Zeit.
				</h1>
				<p class="text3">
					epirent ist aus intensiver Zusammenarbeit mit der Vermietbranche über Jahrzehnte gewachsen und liefert praxisorientierte Workflows, die Dir helfen Deine Arbeit schnell und qualitativ hochwertig auszuführen.
					Kunden werden Dich für Deine Zuverlässigkeit schätzen. Und das Beste dabei - mit wenig Aufwand.
										
				</p>
				<a ng-controller="videoPopupCtrl" ng-click="open('epi-story.mp4')" class="link1 cursorPointer">Lerne uns kennen</a>
			</div>
		</div>
	</div>
	<div class="sectors2_3Gap"></div>
	<div class="sector5" >
	  
		  	<img class="img-responsive img-center" src="images/action-1853289.jpg" >
		  	
		  	
	</div>
	<div class="sectors3_4Gap"></div>
	<div class="sector6 container text-left">
		<div class="row">
			<div class="col-sm-12">
				<br>
				<h1 class="text1">
					Du lieferst das Ergebnis.
				</h1>
				<h1 class="text2">
					Auf den Punkt.
				</h1>
				<p class="text3">
					Die Organisation und Planung von der kleinsten Schraube bis zum Line-Array System oder eine komplette Mitarbeiterdisposition inklusive direkter Kommunikation auf das Smartphone, gibt Dir die Möglichkeit Dich immer auf das Wesentliche zu konzentrieren - Dein nächstes Event!
										
				</p>
				<a ng-controller="videoPopupCtrl" ng-click="open('epiModule.mp4')" class="link1 cursorPointer">Lerne mehr Möglichkeiten kennen </a>
			</div>
		</div>
	</div>
	
</div>