
  <div style="height:20px"></div>
    <div class="container-fluid ">
        
		<div class="row text-center ">
			<div class="col-sm-2"></div>
            <div class="col-sm-8" >
			
				<h1 class="text1" >Unsere Partner</h1>
				<h1 class="text2" >epirents fleissige Helfer.</h1>
				
			</div>
			<div class="col-sm-2"></div>
		</div>

	</div>

	<div style="height:20px"></div>
	<div class="container-fluid ">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">

                     <div class="row">
           
                        <div class="col-sm-4"><img  src="../content/_media/img/partners/convivo.jpg" class="imgLink img-responsive img-center" ng-click="gotoURL('http://www.convivo.com/','_blank')"></div> 
                        <div class="col-sm-4"><img  src="../content/_media/img/partners/imazing.jpg" class="imgLink img-responsive img-center" ng-click="gotoURL('http://www.imazing.de/','_blank')"></div> 
                        <div class="col-sm-4"><img  src="../content/_media/img/partners/koenig.jpg" class="imgLink img-responsive img-center" ng-click="gotoURL('http://www.koenigwiekaiser.de/','_blank')"></div> 
                        
                    </div>


            </div>
            <div class="col-sm-1"></div>
            
        </div>    
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">

                   <div class="row">
           
                        <div class="col-sm-4"><img  src="../content/_media/img/partners/navitas.jpg" class="imgLink img-responsive img-center" ng-click="gotoURL('https://www.navitas.de/','_blank')"></div> 
                        <div class="col-sm-4"><img  src="../content/_media/img/partners/redboat.jpg" class="imgLink img-responsive img-center" ng-click="gotoURL('https://www.siulam-wingchun.org/home.html','_blank')"></div> 
                        <div class="col-sm-4"><img  src="../content/_media/img/partners/teamatwork.jpg" class="imgLink img-responsive img-center" ng-click="gotoURL('https://www.teamatwork.de/','_blank')"></div> 
                        
                    </div>


            </div>
            <div class="col-sm-1"></div>
            
        </div>   
      
        
    </div>

  