<div class="products_pages epirent">
    
        <div ng-include="'content/de/products/_navigation/index.html'"></div>
       
        <div style="height:100px"></div>
        <div class="container">
        
            <h1 class="text1">
                Was ist <span style="font-family: myriad-set-pro_bold;">epi</span>rent?
            </h1>
            <h1 class="text2" style="/*color: black;*/">
                Nicht denken, machen!
            </h1>
            <div style="height:50px"></div>
            <p class="text3 justify-to-left">
                    
                    epirent ist die Warenwirtschafts-Software für Vermietung und Verkauf 
                    mit einem enormen Funktionsumfang. Benutzerfreundlich in der Organisation und 
                    Strukturierung vom kleinen Business bis zum großen Unternehmen, 
                    oder für alle Die, die Großes vorhaben.
    
            </p>
    
            <div style="height:100px"></div>
            <img ng-controller="videoPopupCtrl" ng-click="open('epirent.mp4')" src="images/products/play_button.png" alt="" class="img-responsive img-center playButton cursorPointer">
            
            
            <br><br><br>
            <h1 class="text1a">
                Kleine Schritte zum großen Ganzen.
            </h1>
            <br><br>
            <img src="images/products/kopf.png" alt="" class="img-responsive head_img" style="margin:auto;opacity:0;">
    
        
    </div>
        <div class="container-fluid" ng-class="{ 'bgr-attach-fixed' : !isMobileDevice }" style="background-image: url('images/products/concert-3387324.jpg');background-repeat: no-repeat;background-size: cover;padding-top: 130px;">
        <div class="container">
            <h1 class="text1" style="color:white">
                Der <span class="bold">epi</span>rent Workflow.
            </h1>
            <h1 class="text2" style="color:white">
                Direkt aus der Praxis.
            </h1>
            <div style="height:50px"></div>
            <p class="text3 justify-to-left" style="color:white;/*! padding-left: 150px; *//*! padding-right: 150px; */">
                    epirent ist aus intensiver Zusammenarbeit mit der Vermietbranche in den vergangenen zwei Dekaden gewachsen und liefert praxisorientierte Workflows, die Dir helfen Deine Arbeit schnell und qualitativ hochwertig auszuführen. Deine Kunden werden Dich für Deine Zuverlässigkeit schätzen. Und das mit wenig Aufwand.
            </p>
    
            <br>
            <img ng-controller="videoPopupCtrl" ng-click="open('epi-story.mp4')" src="images/products/play_button_white.png" alt="" class="img-responsive img-center playButton cursorPointer">
            
            <br>
            <h1 class="text1" style="color:white">
                Zum Greifen nah...
            </h1>
            <br><br><br><br><br><br>
    
        </div>
    </div>
        <div class="container-fluid"  ng-class="{ 'bgr-attach-fixed' : !isMobileDevice }" style="background-image: url('images/products/rubik-2477165.jpg'); background-repeat: no-repeat;background-size: cover;">
            <br><br><br><br><br><br><br><br><br>
            <div style="opacity:0" class="anim_title1">
                    <h1 class="text1b" style="color: white;">epi<span style="font-family: myriad-set-pro_text;">rent</span></h1>
                    <h1 class="text2" style="color: white;">die effektivste Vermietsoftware</h1>
            </div>
            
    
            <br><br><br><br><br><br><br><br>
        </div>
        <br><br>
        <div class="container">
        <br><br>        
        
        
        <p class="text3 justify-to-left">
                        Mit unserer Software organisierst Du Deine Events bis in das kleinste Detail. Mit leistungsstarken und einfach zu verstehenden Werkzeugen geht die minutengenaue Disposition Deiner Artikel und Dienstleistungen leicht von der Hand. Die nahtlose Verbindung der Workflows vom Angebot bis zur Rechnung schafft eine wunderbare Struktur für Dein Unternehmen und optimiert gleichzeitg die Teamarbeit.
                </p>
    
    
                <br><br><br><br>
            <div class="row">
                    <div class="col-sm-4">
                        <img src="images/products/fanari_gri.png" alt="" class="anim_img" style="opacity:0">
                        <br><br><div style="font-size: 24px;color: #40667C;font-family: myriad-set-pro_bold;">Zuverlässigkeit</div><br>
                        <p class="text3 text-center">
                                Der sekundenschnelle Abruf von Verfügbarkeiten im Lager oder Service macht Dich zu einem Profi in Sachen Team- und Kundenkommunikation.   
                        </p>
    
                    </div>
                    <div class="col-sm-4">
                        <img src="images/products/team_gri.png" alt="" class="anim_img" style="opacity:0"><br><br>
                        <div style="font-size: 24px;color: #40667C;font-family: myriad-set-pro_bold;">Team</div><br>
                        <p class="text3 text-center">
                                Minutengenau disponiert und sofort einsatzbereit. Kommuniziere alle Aufgaben direkt auf das Smartphone.   
                        </p>
    
                    </div>
                    <div class="col-sm-4">
                        <img src="images/products/calendar_gri.png" alt="" class="anim_img" style="opacity:0"><br><br>
                        <div style="font-size: 24px;color: #40667C;font-family: myriad-set-pro_bold;">Sicherheit</div><br>
                        <p class="text3 text-center">
                                Planungssicherheit und Organisation auf einen Blick. Ob laufende Vorgänge, Artikel oder Dienstleistungen. Du weißt immer wo Du stehst.   
                        </p>
                    </div>
                </div>
                <br><br>
                
                <img ng-controller="videoPopupCtrl" ng-click="open('epiworkflow.mp4')" src="images/products/play_button.png" alt="" class="img-responsive img-center playButton cursorPointer">
                <br><br><br>
                <h1 class="text2" style="
        color: #40667C;
    ">
                        Vollgas ab der ersten Sekunde.
                </h1>
                <br><br><br>
                
        </div>
        <div class="container-fluid" style="background:#41667A;/* color: white; */">
        <div class="container">
                <br><br><br><br><br><br><br><br><br>
                <h1 class="text1" style="color: white;">
                    Die Toolbar.
                </h1>
                <h1 class="text2" style="color: white;">
                    Beam me up.
                </h1>
                <br><br>
                <p class="text3 justify-to-left" style="color: white;">
                        Die Toolbar ist Deine Schaltzentrale. Von hier aus hast Du den vollen Zugriff auf alle Bereiche für Deine tägliche Arbeit. Das schöne dabei ist - Die Toolbar ist auf jeden Arbeitsplatz individuell konfigurierbar. Alle Icons werden mit deren Funktionen in Bereiche durch Farben unterteilt und machen so eine schnelle Einarbeitung und einen geschmeidigen Workflow möglich.
                </p>
    
                <br><br><br>
                <div class="toolbarContainer">
                    <img src="images/products/toolbar.png" alt="" class="anim_img2 img-responsive" style="opacity:0">
                </div>
               
        </div>
    </div>    
        <div class="container-fluid" ng-class="{ 'bgr-attach-fixed' : !isMobileDevice }" style="background-image: url('images/products/photo.jpg');background-repeat: no-repeat;background-size: cover;">
        <div class="container">
            <br><br><br><br><br><br>
            <h1 class="text1" style="color: white;">
                Eine Momentaufnahme.
            </h1>
            <h1 class="text2" style="color: white;">
                Im Look &amp; Feel von epirent.
            </h1>
            <br><br><br><br>
            <p class="text3 justify-to-left" style="color: white;">
                    Entdecke die Möglichkeiten und bekomme eine Idee, wie Du Dich auf Dein Business Tag für Tag vorbereiten und aktiv sein kannst. Der Fokus bei epirent liegt auf Überblick, Fortschritt, Vielseitigkeit, Kompetenz und Qualität und das alles an einem Fleck: Deiner Datenbank.
            </p>
    
            <!-- carousel-->
            
                    
                    <br><br><br><br><br>
            <div class="row">
                        <div class="col-sm-12">
                            <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="5000">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                    <li data-target="#myCarousel" data-slide-to="1" class=""></li>
                                    <li data-target="#myCarousel" data-slide-to="2" class=""></li>
                                    <li data-target="#myCarousel" data-slide-to="3" class=""></li>
                                    <li data-target="#myCarousel" data-slide-to="4" class=""></li>
                                    <li data-target="#myCarousel" data-slide-to="5" class=""></li>
                                    
                                    
                                
                                </ol>
                            
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">
                            
                                    <div class="item">
                                        <img src="images/epirent_site_gallery/Adressmaske.png" alt="Adressmaske" style="margin:auto;">
                                        
                                        <div class="carousel-caption">
                                            <h1 class="text3c">Die Adressen. Alles an einem Fleck.</h1>
                                            <p>Erstelle Firmen mit Ansprechpartnern, Kategorisiere Deine Adressen, hinterlege umsatzsteuerrelevante Daten, individualisiere Zahlungskonditionen oder Mahneinstellungen. Das und noch viel mehr.</p>
                                        </div>
                                    </div>
                                
                                    <div class="item">
                                        <img src="images/epirent_site_gallery/Artikelmaske.png" alt="Artikelmaske" style="margin:auto;">
                                        
                                        <div class="carousel-caption">
                                            <h1 class="text3c">Die Artikel. Vielseitig und Dynamisc</h1>                             
                                            <p>Lege Artikel so an, wie Du Sie benutzt. Kategorisiere nach Inventar-, Miet- oder Verkaufsartikel. Führe Artikel die normalerweise nicht in Deinem Bestand sind, füge Seriennummern hinzu, aktiviere die Bestandskontrolle oder baue Dir Deine Bundles und Sets ganz nach belieben.</p>
                                        </div>
                                    </div>
                                    
                                    <div class="item active">
                                        <img src="images/epirent_site_gallery/Auftragsliste.png" alt="Auftragsliste" style="margin:auto;">
                                        
                                        <div class="carousel-caption x1">
                                            <h1 class="text3c">Fortschritte auf einen Blick.</h1>                             
                                            <p>Die Auftragsliste. Miet- und Verkaufsvorgänge mit einem sehr aussagekräftigen Ampelsystem, machen die Auftragsliste zu einem starken Tool, damit Du mit Deinem Team immer weißt, was ansteht.</p>
                                        </div>
                                    </div>
    
                                    <div class="item">
                                        <img src="images/epirent_site_gallery/Auftragsmaske.png" alt="Auftragsmaske" style="margin:auto;">
                                        
                                        <div class="carousel-caption">
                                            <h1 class="text3c">Der Auftrag</h1>                              
                                            <p>Alles wichtige in einer Maske. Kundendaten, Zeiträume, Ansprechpartner, Artikel, Services, Mitarbeiterdispositionen, Margen, Bestände... Schalte und Walte wie Die Veranstaltung werden soll.</p>
                                        </div>
                                    </div>
                                
                                    
    
                                    <div class="item">
                                        <img src="images/epirent_site_gallery/Packschein.png" alt="Packschein" style="margin:auto;">
                                        
                                        <div class="carousel-caption">
                                            <h1 class="text3c">Der Packschein. Alle Macht dem Lager</h1>                             
                                            <p>Ist der Auftrag in der Tasche, schicke dem Lager direkt einen Packschein und es kann losgehen.</p>
                                        </div>
                                    </div>
    
                                    <div class="item">
                                        <img src="images/epirent_site_gallery/TeamAgenda.png" alt="TeamAgenda" style="margin:auto;">
                                        
                                        <div class="carousel-caption">
                                            <h1 class="text3c">Durchblick mit der TeamAgenda</h1>                             
                                            <p>Die TeamAgenda ist ein klar strukturierter Kalender, unterteilt in eine Tages-, Wochen-, Monats- und Jahresansicht, sowie Events, Artikel und Personal.</p>
                                        </div>
                                    </div>
                            
                                </div>
                            
                                <!-- Left and right controls -->
                                <a class="left carousel-control" data-target="#myCarousel" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" data-target="#myCarousel" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                        
            <!-- carousel-->
            <br><br>
    
            <img ng-controller="videoPopupCtrl" ng-click="open('epirentworkflow.mp4')" src="images/products/play_button_white.png" alt="" class="img-responsive img-center playButton cursorPointer">
            
            <br><br><br>
            <h1 class="text2" style="color: white;">
                Organisieren bis der Arzt kommt.
    </h1>
    <br><br><br><br>
        </div>
    </div>
        <div class="container-fluid" ng-class="{ 'bgr-attach-fixed' : !isMobileDevice }" style="background-image: url('images/products/action-1853289.jpg');background-repeat: no-repeat;background-size: cover;background-position: 50%;">
        <div class="container">
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><h1 class="text1" style="color: white;">
                Zwei Hände voll Keyfeatures.
            </h1>
            <h1 class="text2" style="color: white;">
                ...und ein ordentliches Paket an Funktionen machen epirent komplett!
            </h1><br><br>
    
        </div>
    </div>
        <div class="container">
        <br><br><br><br>   
        
        <div style="display:inline-block;">
    <ul class="text-left list">
                <li>Vermietung vom Angebot bis zur Rechnung</li>
                <li>Eventorganisation inkl. Personalplanung</li>
                <li>
                        Fremdanmietung &amp; Einkauf von Artikeln
    
                </li>
                <li>
                        Unterstützung mehrerer Lager
    
                </li>
                <li>
                        Mandantenfähigkeit
                </li>
                <li>
                        Individualisierung von Dokumenten und Listen
    
                </li>
                <li>
                        Vorbereitende Buchhaltung inkl. Kontierung &amp; Datev Export
    
                </li>
                <li>
                        CRM Werkzeuge für Kundenmanagement
    
                </li>
                <li>
                        Kommunikation via E-Mail
    
                </li>
                <li>
                        Mengen- &amp; Einzel- und Bundleartikelfähig
    
                </li>
                <li>
                        Werkstatt-Protokollierung
    
                </li>
                <li>
                        Kalender für Termine, Events, Personal und Artikel
    
                </li>
                <li>
                        Kommunikation auf das Smartphone oder Kalender-APPs
    
                </li>
                <li>
                        Benutzerverwaltung mit Rechteverteilung
    
                </li>
                <li>
                        epirent ist eine Einzelplatz &amp; Client/Server Applikation zugleich
    
                </li>
                <li>
                        Verfügbar für Windows und macOS X
    
                </li>
                <li>
                        Mit Lizenzerweiterung beliebig vergrößerbar
    
                </li>
                <li>
                        Multilingual nutzbar
    
                </li>
                <li>
                        Deutsche und englische Benutzeroberfläche
    
                </li>
               
            </ul>
    </div><div style="clear:both"></div>
    <br>
    <img src="images/products/opts_512x512.png" class="opts_img img-responsive" >
    
     
        
    
        </div>
    
    <br><br>
    <div class="container-fluid" ng-class="{ 'bgr-attach-fixed' : !isMobileDevice }" style="background-image: url('images/products/audience-828584.jpg');background-repeat: no-repeat;background-size: cover;padding-top: 130px;">
        <div style="height:180px"></div>
        <div class="container">
        
        <h1 style="color: #7FCCF7;" class="bigtext">ENTSCHEIDUNG</h1>
        <h1 style="color: #DEDEDE;" class="bigtext">LEICHTGEMACHT</h1>
        <br><br><br><br>
        <p style="color: white;" class="text3 justify-to-left">
    Kostenlos und unverbindlich. Lerne epirent kennen. In nur 30 Minuten zeigt Dir unser Salesteam, ob epirent das richtige Tool für Dich ist. Dabei bekommst Du einen Einblick in den Workflow und die Möglichkeiten.
    <br><br>
    Bitte lade vor dem Termin den EPI Helpdesk und unsere Demo herunter, so dass der Mitarbeiter von uns via Fernsteuerung die Präsentation durchführen kann.
    
    </p>
    <br><br><br><br>
    
    
    <img ng-controller="videoPopupCtrl" ng-click="open('epi-presentation.mp4')" src="images/products/play_button_white.png" alt="" class="img-responsive img-center playButton cursorPointer">
            
    
    <br><br><br>
    <div class="bigtext2 anim_title2" style="opacity:0">entdecke <span class="bold">epi</span>rent </div><br><br><br>
    
    <a class="btn btn-default button1 c" href="#products/start/{{lang}}">Auf zum nächsten Schritt...</a>
    <br><br><br>
    <br><br><br>
            
            </div>
            
    </div>
    </div>
    
    