<br><br>

<div class="hidden-xs"><br><br></div>
<div class="products_page">
		
		<div class="container text-center sector1">
			
				
				<h1 class="text1">
		<span class="myriad_bold">epi</span>rent ist einfach effektiv.
				</h1>
				<h1 class="text2">
					So macht Vermieten und Verkaufen Spaß.
				</h1>
				<br>
				<p class="text3 text-justify">
					Organisiere Deine Veranstaltungen bis in das kleinste Detail.
					Eine minutengenaue Disposition all Deiner Artikel oder Services lässt Dir
					die Planung leicht von der Hand gehen.<br><br>
					 
					Die nahtlose Verbindung unserer Workflows vom Angebot bis zur Rechnung schafft eine wunderbare Struktur in Deinem Unternehmen.
				</p>
					
		</div>
			<br><br>
		<div class="container text-center">	
			<div class="row sector2">
				<div class="col-sm-4">
					<div><img src="images/trafficLights.png"></div>
					<div>
						<h1 class="text1" style="text-align:center">
							Verfügbarkeit
						</h1>
					</div>
					<div>
						<p class="text3" >
							Abruf in sekundenschnelle für die perfekte Kommunikation im Team,
							sowie zu Deinen Kunden.
							
						</p>
					</div>
				</div>
				
				<div class="col-sm-4 ">
					<div><img src="images/people.png" style="width:70px"></div>
					<div>
						<h1 class="text1" style="text-align:center">
							Mitarbeiter
						</h1>
					</div>
					<div>
						<p class="text3" style="text-align:center">
							Minutengenau disponiert und sofort einsatzbereit. Kommuniziere alle Aufgaben direkt auf das Smartphone.
							
						</p>
					</div>
				</div>
				<div class="col-sm-4 text-center">
					<div><img src="images/calendar.png"></div>
					<div>
						<h1 class="text1" style="text-align:center">
							Überblick
						</h1>
					</div>
					<div>
						<p class="text3" style="text-align:center">
							Die Übersicht über aller laufenden Vorgänge vom Termin, über Artikel und Services, bis hin zum Event.
							
						</p>
					</div>
				</div>
				
			</div>
		</div>
			
		
		<br>
		<div class="hidden-xs">
			<br><br><br>
		</div>
		
		<div class="container text-center sector5">
			
			<h1 class="text1">
				Die Toolbar
			</h1>
			<h1 class="text2">
				Der erste Eindruck zählt
			</h1>
				
		</div>
		<div class="hidden-xs">
				<br>
		</div>
		
		<br><br>
		<div class="sector6">
		  
				  <img class="img-responsive img-center" src="images/toolbar.png">
				  
		</div>
		<br><br>
		
		<div class="container text-center sector7">
			
			<p class="text3 hidden-xs">
				Mit der Toolbar bekommst Du Zugriff auf Deine wichtigsten Funktionen.<br>
	
	Die Icons lassen sich ein- und ausblenden und somit an Arbeitsbereiche anpassen.
			</p>
				
		</div>
		
		
		<div class="hidden-xs"><br><br><br><br><br><br></div>
		<div class="container text-center">
				
				<h1 class="text1">
					Ein kurzer Einblick.
				</h1>
				<h1 class="text2">
					Der Look von epirent.
				</h1>
					
			</div>
		<!-- carousel-->
		<div class="container-fluid">
				
				<div class="row">
					<div class="col-sm-12">
						<div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="5000">
							<!-- Indicators -->
							<ol class="carousel-indicators">
							  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
							  <li data-target="#myCarousel" data-slide-to="1"></li>
							  <li data-target="#myCarousel" data-slide-to="2"></li>
							  <li data-target="#myCarousel" data-slide-to="3"></li>
							  <li data-target="#myCarousel" data-slide-to="4"></li>
							  <li data-target="#myCarousel" data-slide-to="5"></li>
							  <li data-target="#myCarousel" data-slide-to="6"></li>
							  <li data-target="#myCarousel" data-slide-to="7"></li>
							  <li data-target="#myCarousel" data-slide-to="8"></li>
							  
							</ol>
						
							<!-- Wrapper for slides -->
							<div class="carousel-inner" role="listbox">
						
							  <div class="item active">
								<img src="images/epirent_site_gallery/Adressmaske.png" alt="Adressmaske" >
								
								<div class="carousel-caption">
								  <p>Alle Informationen Deines Kunden in epirent. Du kannst auch Adressgruppen oder Ansprechpartner hinzufügen und die Adresse kategorisieren.</p>
								</div>
							  </div>
						
							  <div class="item">
								  <img src="images/epirent_site_gallery/Artikelmaske.png" alt="Artikelmaske" >
								  
								<div class="carousel-caption">
								  <p>Viele Möglichkeiten, Dein Artikelhandling perfekt zu gestalten. Ob Einzel-, Mengen- oder Bundelartikel. Hier wird Flexibilität groß geschrieben.</p>
								</div>
							  </div>
							  
							  <div class="item">
								<img src="images/epirent_site_gallery/Auftragsliste.png" alt="Auftragsliste" >
								
							    <div class="carousel-caption x1">
								 <p>In einer kompletten Übersicht und mit unserem legendären Ampelsystem, damit Du immer bescheid weißt, was als nächstes zu tun ist.</p>
							    </div>
							  </div>

							  <div class="item">
								  <img src="images/epirent_site_gallery/Auftragsmaske.png" alt="Auftragsmaske" >
								  
								<div class="carousel-caption">
								  <p>Absolut übersichtlich mit vielen Funktionen, die Dein nächstes Event perfekt organisieren.</p>
								</div>
							  </div>
						
							  <div class="item">
								  <img src="images/epirent_site_gallery/DailyDrop.png" alt="DailyDrop" >
								  
								<div class="carousel-caption">
								  <p>Bekomme einen Blick für Deine täglichen Aufgaben und koordiniere alles bis zur Perfektion.</p>
								</div>
							  </div>

							  <div class="item">
								<img src="images/epirent_site_gallery/Dispositionsliste.png" alt="Dispositionsliste" >
								
								<div class="carousel-caption">
									<p>Hier weißt Du genau, wieviele Artikel Du in Deinem angefragten Zeitraum verfügbar hast oder wo Diese sich in der Vermietung befinden.</p>
							  	</div>
							  </div>

							  <div class="item">
								<img src="images/epirent_site_gallery/Kundendetails.png" alt="Kundendetails" >
								
								<div class="carousel-caption">
									<p>Von Preisgestaltung bis Zahlungskonditionen - Ganz individuell auf Deinen Kunden zugeschnitten.</p>
							  	</div>
							  </div>

							  <div class="item">
								<img src="images/epirent_site_gallery/Packschein.png" alt="Packschein" >
								
								<div class="carousel-caption">
									<p>Optimale Übersicht im Lager. Damit Deine Mitarbeiter genau wissen, was gepackt werden soll.</p>
							  	</div>
							  </div>

							  <div class="item">
								<img src="images/epirent_site_gallery/TeamAgenda.png" alt="TeamAgenda" >
								
								<div class="carousel-caption">
									<p>Endlich alles an einem Platz. Termine, Meetings, Veranstaltungen, Artikel und Personal. Alles auf einen Blick.</p>
							  	</div>
							  </div>
						  
							</div>
						
							<!-- Left and right controls -->
							<a class="left carousel-control" data-target="#myCarousel" role="button" data-slide="prev">
							  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
							  <span class="sr-only">Previous</span>
							</a>
							<a class="right carousel-control" data-target="#myCarousel" role="button" data-slide="next">
							  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
							  <span class="sr-only">Next</span>
							</a>
						  </div>
					</div>
				</div>
					
		</div>
		<!-- carousel-->
		<div class="container visible-xs">
			<br>

			<img class="img-responsive img-center" src="images/stones.jpg">

			<div class="row sector9">
				<div class="col md 12">
						<h1 class="text1 text-center">
								Zwei Hände voll Keyfeatures.
							</h1>
							<h1 class="text2 text-center">
								Deine Checkliste
							</h1>
							<br><br>
							<p class="text3 text-center">
									Vermietung vom Angebot bis zur Rechnung<br>
									
									Eventorganisation inkl. Personalplanung<br>
									
									Fremdanmietung &amp; Einkauf von Artikeln<br>
									
									Unterstützung mehrerer Lager<br>
									
									Mandantenfähigkeit<br>
									
									Individualisierung von Dokumenten und Listen<br>
									
									Vorbereitende Buchhaltung inkl. Kontierung &amp; Datev Export<br>
									
									CRM Werkzeuge für Kundenmanagement<br>
									
									Kommunikation via E-Mail<br>
									
									Mengen- &amp; Einzel- und Bundleartikelfähig<br>
									
									Werkstatt-Protokollierung<br>
									
									Kalender für Termine, Events, Personal und Artikel<br>
									
									Kommunikation auf das Smartphone oder Kalender-APPs<br>
									
									Benutzerverwaltung mit Rechteverteilung<br>
									
									epirent ist eine Einzelplatz &amp; Client/Server Applikation zugleich<br>
									
									Verfügbar für Windows und macOS X<br> 
									
									Mit Lizenzerweiterung beliebig vergrößerbar<br>
									
									Multilingual nutzbar<br>
									
									Deutsche und englische Benutzeroberfläche
							</p>

				</div>
			</div>
		</div>
		<div class="container-fluid hidden-xs">
			
			<div class="row sector9">
				<div class="col-sm-7 hidden-xs" ><br><br><br>
					<img src="images/stones.jpg" class="stones">
					
				</div>
				<div class="col-sm-5">
					<br><br>
						<div class="hidden-xs"><br><br></div>
						<h1 class="text1 text-left">
							Zwei Hände voll Keyfeatures.
						</h1>
						<h1 class="text2 text-left">
							Deine Checkliste
						</h1>
						<br><br>
						<p class="text3 text-left">
							Vermietung vom Angebot bis zur Rechnung<br>
							
							Eventorganisation inkl. Personalplanung<br>
							
							Fremdanmietung &amp; Einkauf von Artikeln<br>
							
							Unterstützung mehrerer Lager<br>
							
							Mandantenfähigkeit<br>
							
							Individualisierung von Dokumenten und Listen<br>
							
							Vorbereitende Buchhaltung inkl. Kontierung &amp; Datev Export<br>
							
							CRM Werkzeuge für Kundenmanagement<br>
							
							Kommunikation via E-Mail<br>
							
							Mengen- &amp; Einzel- und Bundleartikelfähig<br>
							
							Werkstatt-Protokollierung<br>
							
							Kalender für Termine, Events, Personal und Artikel<br>
							
							Kommunikation auf das Smartphone oder Kalender-APPs<br>
							
							Benutzerverwaltung mit Rechteverteilung<br>
							
							epirent ist eine Einzelplatz &amp; Client/Server Applikation zugleich<br>
							
							Verfügbar für Windows und macOS X<br> 
							
							Mit Lizenzerweiterung beliebig vergrößerbar<br>
							
							Multilingual nutzbar<br>
							
							Deutsche und englische Benutzeroberfläche
						</p>
						<div class="text-right hidden-xs"><img src="images/arrows.jpg"></div>
	
				</div>
			</div>
		</div>	
		<br><br>
		<div class="sector10 hidden-xs"></div>
		<img src="images/chips-20072.jpg" class="img-responsive img-center visible-xs">
		<br><br><br><br>
		<div class="container">
			<h1 class="text1 ">
				Erweiterungen.
			</h1>
			<h1 class="text2 ">
				Bau Dir Dein System.
			</h1>
			<br><br>
			<div class="row">
				<div class="col-sm-4">
					<div><img src="images/icons/calendar.jpg"></div>
					<br>
					<div class="text3">epirent <b>Kalender</b></div>
					<div>
						<br>
						<p class="text3">
							Erstelle Kalenderabos von Terminen, Projekten und Mitarbeitern.
							Perfekt zur mobilen Kommunikation und Terminweitergabe.
						</p>
					</div>
				</div>
				<div class="col-sm-4">
					<div><img src="images/icons/people.jpg" class="icon1"></div>
					<br>
					<div class="text3">epirent <b>Mandant</b></div>
					<div>
						<br>
						<p class="text3">
							Verwalte weitere Mandanten mit Stammdaten die gemeinsam genutzt werden können. Optimal beim Zusammenschluss mehrerer Unternehmen.
						</p>
					</div>
				</div>
				<div class="col-sm-4">
					<div><img src="images/icons/fis.jpg" class="icon1"></div>
					<br>
					<div class="text3">epirent <b>QM</b></div>
					<div>
						<br>
						<p class="text3">
							Erstelle Tickets zur Aufnahme und Wiedervorlage von Vorfällen positiver und negativer Art.
							Qualitätssicherung par excellence. 
						</p>
					</div>
				</div>
			</div>	
			<br><br><!-- 222222222-->
			<div class="row">
				<div class="col-sm-4">
					<div><img src="images/icons/squares.jpg"></div>
					<br>
					<div class="text3">epirent <b>QR</b></div>
					<div>
						<br>
						<p class="text3">
							Erweitere Deine Etiketten mit einer zusätzlichen Verlinkung auf Webseiten oder Bedienungsanleitungen, um Deine Servicepalette zu erweitern.
						</p>
					</div>
				</div>
				<div class="col-sm-4">
					<div><img src="images/icons/phone.jpg" class="icon1"></div>
					<br>
					<div class="text3">epirent <b>Telefon</b></div>
					<div>
						<br>
						<p class="text3">
							Verbinde Deine Datenbank mit der Telefonanlage und begrüße Deine Kunden immer sofort, springe in den Vorgang und spare wertvolle Zeit.
						</p>
					</div>
				</div><!--change -->
				<div class="col-sm-4">
					<div><img src="images/icons/datev.jpg" class="icon1"></div>
					<br>
					<div class="text3">epirent <b>DATEV PRO</b></div>
					<div>
						<br>
						<p class="text3">
							Die Schnittstelle ermöglicht den Export für Buchungssätze, Kostenstellen, Rundungsdifferenzen, Testläufen, Stammdaten und Buchungssätzen.
						</p>
					</div>
				</div>
			</div>	




			<br><br><br>
		</div>
		<br><br>
		<div class="sector11 visible-xs">
			<div class="container-fluid img"></div>
			<div class="container text-left ">
				
				<div class="row ">
					
					<div class="col-sm-12">
						
						<h1 class="text1 text-center">
						<span class="myriad_bold">epi</span>rent <span class="myriad_bold">mobile</span>
						</h1>
						<h1 class="text2 text-center">
							Bald erhältlich in zwei Versionen.
						</h1>
						<p class="text3 text-justify">
							Wir entwickeln fieberhaft den nächsten Schritt in die Mobilität. epirent mobile wird im ersten Quartal 2018 veröffentlicht und ist auf allen Endgeräten mit einem aktuellen Webbrowser lauffähig. Alle Oberflächen haben wir auf Smartphones reduziert umgesetzt und sind absolut einfach zu verstehen. Es ist kein umfangreiches Training notwendig.<br><br>
		
							epirent mobile wird in zwei verschiedenen Versionen ausgeliefert.<br><br>
							
							
							
							<span class="myriad_bold">epirent mobile reader</span> ist ein komplettes epirent nur mit Lesemöglichkeit. Optimal für Deine Aussendienstler oder Freiberufler.<br><br>
							
							
							
								<span class="myriad_bold">epirent mobile pro</span> kann sowohl lesen als auch schreiben. Das heißt Du kannst auch unterwegs schon Angebotsentwürfe oder Adressen erstellen.
												
						</p>
						<br><br>
						
						<h6>* Die Abbildung rechts kann vom Endprodukt abweichen.</h6>
					</div>
					
				</div>
			</div>
		</div>
		
		<div class="container-fluid text-left sector11 hidden-xs">
			<div class="row ">
				<div style="padding-left: 0px;" class="col-sm-6 "><img src="images/hand_epimobile.jpg" class="img-responsive" style="float: left;"></div>
				<div class="col-sm-6" style="padding-left: 80px;padding-right: 80px;">
					
					<h1 class="text1" style="margin-top: -10px;">
					<span class="myriad_bold">epi</span>rent <span class="myriad_bold">mobile</span>
					</h1>
					<h1 class="text2">
						Bald erhältlich in zwei Versionen.
					</h1>
					<p class="text3 text-justify">
						Wir entwickeln fieberhaft den nächsten Schritt in die Mobilität. epirent mobile wird im ersten Quartal 2018 veröffentlicht und ist auf allen Endgeräten mit einem aktuellen Webbrowser lauffähig. Alle Oberflächen haben wir auf Smartphones reduziert umgesetzt und sind absolut einfach zu verstehen. Es ist kein umfangreiches Training notwendig.<br><br>
	
						epirent mobile wird in zwei verschiedenen Versionen ausgeliefert.<br><br>
						
						
						
						<span class="myriad_bold">epirent mobile reader</span> ist ein komplettes epirent nur mit Lesemöglichkeit. Optimal für Deine Aussendienstler oder Freiberufler.<br><br>
						
						
						
							<span class="myriad_bold">epirent mobile pro</span> kann sowohl lesen als auch schreiben. Das heißt Du kannst auch unterwegs schon Angebotsentwürfe oder Adressen erstellen.
											
					</p>
					<br><br>
					
					<h6>* Die Abbildung rechts kann vom Endprodukt abweichen.</h6>
				</div>
				
			</div>
		</div>
		
		<br><br>
		<div class="hidden-xs"><br><br><br><br></div>
		<div>
			<h1 class="text1 ">
				Alles rund um Service &amp; Support.
			</h1>
			<h1 class="text2 ">
				Keine halben Sachen.
			</h1>
		</div>
		<br><br>
		<div class="hidden-xs"><br><br><br><br></div>
		<div class="container text-left sector 11_1">
			<div class="row">
				<div class=" visible-xs"><img src="images/icons/arrows_circle.png" class="img-responsive img-center" style="width:100px"><br></div>	
				<div class="col-md-8">
						
					<h1 class="text1">
						Up-to-date Vertrag.
					</h1>
					<h1 class="text2">
						epirent wird mit der Zeit immer besser.
					</h1>
				</div>
				<div class="col-md-4 text-right hidden-xs"><img src="images/icons/arrows_circle.png"></div>
			</div>
			<div class="row">
				<div class="col-md-12 ">
					<p class="text3 text-justify">
						Dein epirent System wird mit jedem Software-Update noch smarter.
						Denn es kommen ständig neue Dienste und neue Features hinzu.
						Kurz gesagt:epirent, wie Du es heute kaufst, ist morgen sogar noch besser. 
						Beim Kauf von epirent bekommst Du unseren einjährigen Up-to-Date Vertrag für das erste Jahr kostenlos. 
						Dieser Vertrag beinhaltet alle Updates von epirent. 
						Nach dem ersten Jahr kannst Du Dich selbst entscheiden, ob Du dabei bleiben möchtest. 
						Ein Wiedereinstieg ist ebenso zu jeder Zeit möglich.
					</p>
				</div>
	
			</div>
			<br><br><br>
			<div class="hidden-xs"><br><br></div>
			
			<div class="row">
				
				<div class=" visible-xs"><img src="images/icons/guru.jpg" class="img-responsive img-center" style="width:100px"><br></div>	
				<div class="col-md-8">
						
					<h1 class="text1 ">
						<span class="myriad_bold">epirent GURU</span>
					</h1>
					<h1 class="text2 ">
						Damit stehst Du an erster Stelle.
					</h1>
				</div>
				<div class="col-md-4 text-right hidden-xs"><img src="images/icons/guru.jpg"  style="width: 161px;margin-bottom: 20px;"></div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<p class="text3 text-justify">
						Das ist der Vertrag, der dir die Tür zu unserem geballten Wissen öffnet. 
						Du stehst nach Vertragsabschluss ganz oben auf der Liste, sollte einmal nicht´s mehr funktionieren oder Du einfach nur etwas Hilfe benötigst. 
						Und die Hilfe kommt mit nur einem Klick. 
						Wir nehmen eine Remote-Verbindung mit Dir auf können sofort reagieren.
					</p>
				</div>
	
			</div>
		</div>	
		<br><br>
		<div class="hidden-xs"><br><br><br><br></div>
		<div class="container text-left">
			
			<div class="row">
				
				<div class="col-sm-12">
					<h1 class="text1 text-center">
						Der Start mit epirent.
					</h1>
					<h1 class="text2 text-center">
						Und wie wir Dich unterstützen können.
					</h1>
				</div>
				
			</div>
			<br><br><br>
			<div class="row">
	
				<div class="col-sm-12">
	
					<p class="text3 text-justify">
						Damit Du sofort mit Deinem Business starten kannst, bieten wir ein umfangreiches Paket an Dienstleistungen. Von der Installation oder dem Stammdaten-Import über Trainings bis zur Erstellung der Dokumentvorlagen ist es möglich, innerhalb kürzester Zeit ein ganzes Team komplett zu organisieren und mit epirent einsatzfähig zu bekommen.
					</p>
	
				</div>
	
			</div>
			<br><br>
			<div class="visible-xs text-center">
					<div class="row">
							<div class="col-sm-12">
								<img src="images/edit_512x512.png" style="width:100px;height:100px">
								<br><br>
								<div class="text3"><b>Dokumentvorlagen</b></div>
								<br>
								<div class="text3">Schicke uns das Layout mit Deiner Corporate Identity und wir setzen alle Vorlagen direkt in epirent um. Auf Wunsch auch gerne in Multi-Language.</div>
							</div>
						</div>
						<br><br>
						<div class="row">
							<div class="col-sm-12">
								<img src="images/people.png" style="width:100px;height:100px">
								<br><br>
								<div class="text3"><b>Training</b></div>
								<br>
								<div class="text3">Vom Freelancer bis zum großen Unternehmen. Wir machen Euch fit für das tägliche Kerngeschäft und bauen die notwendigen Strukturen rund um Dein Unternehmen.</div>
							</div>
						</div>
						<br><br>
						<div class="row">
							<div class="col-sm-12">
								<img src="images/wiz_512x512.png" style="width:100px;height:100px">
								<br><br>
								<div class="text3"><b>Consulting</b></div>
								<br>
								<div class="text3">Weißt Du an bestimmter Stelle nicht weiter, dann finden wir durch unsere langjährige Erfahrung für Dich die Lösung.</div>
							</div>
						</div>
						<br><br>
						<div class="row">
							<div class="col-sm-12">
								<img src="images/fax_512x512.png" style="width:100px;height:100px">
								<br><br>
								<div class="text3"><b>Technical Support</b></div>
								<br>
								<div class="text3">Mit Deinem Support Vertrag kannst Du uns alle administrativen Rechte für epirent übertragen. Wir helfen immer wenn es brennt. Rund um die Uhr!</div>
							</div>
						</div>
						<br><br>
						<div class="row">
							<div class="col-sm-12">
								<img src="images/arrows_left_right.png" style="width:100px;height:100px">
								<br><br>
								<div class="text3"><b>Datenmigration</b></div>
								<br>
								<div class="text3">Egal von welcher Software zu kommst. Wir haben die Möglichkeit Deine gesamten Artikel und Adressen in epirent zu importieren.</div>
							</div>
						</div>
			</div>
			<div class="hidden-xs">
					<div class="row">
							<div class="col-sm-4">
								<img src="images/edit_512x512.png" style="width:100px;height:100px">
							</div>	
							<div class="col-sm-8">
								<div class="text3"><b>Dokumentvorlagen</b></div>
								<div class="text3">Schicke uns das Layout mit Deiner Corporate Identity und wir setzen alle Vorlagen direkt in epirent um. Auf Wunsch auch gerne in Multi-Language.</div>
							</div>
						</div>
						<br><br>
						<div class="row">
							<div class="col-sm-4">
								<img src="images/people.png" style="width:100px;height:100px">
							</div>	
							<div class="col-sm-8">
								<div class="text3"><b>Training</b></div>
								<div class="text3">Vom Freelancer bis zum großen Unternehmen. Wir machen Euch fit für das tägliche Kerngeschäft und bauen die notwendigen Strukturen rund um Dein Unternehmen.</div>
							</div>
						</div>
						<br><br>
						<div class="row">
							<div class="col-sm-4">
								<img src="images/wiz_512x512.png" style="width:100px;height:100px">
							</div>	
							<div class="col-sm-8">
								<div class="text3"><b>Consulting</b></div>
								<div class="text3">Weißt Du an bestimmter Stelle nicht weiter, dann finden wir durch unsere langjährige Erfahrung für Dich die Lösung.</div>
							</div>
						</div>
						<br><br>
						<div class="row">
							<div class="col-sm-4">
								<img src="images/fax_512x512.png" style="width:100px;height:100px">
							</div>	
							<div class="col-sm-8">
								<div class="text3"><b>Technical Support</b></div>
								<div class="text3">Mit Deinem Support Vertrag kannst Du uns alle administrativen Rechte für epirent übertragen. Wir helfen immer wenn es brennt. Rund um die Uhr!</div>
							</div>
						</div>
						<br><br>
						<div class="row">
							<div class="col-sm-4">
								<img src="images/arrows_left_right.png" style="width:100px;height:100px">
							</div>	
							<div class="col-sm-8">
								<div class="text3"><b>Datenmigration</b></div>
								<div class="text3">Egal von welcher Software zu kommst. Wir haben die Möglichkeit Deine gesamten Artikel und Adressen in epirent zu importieren.</div>
							</div>
						</div>
			</div>
			
		</div>
		<div class="hidden-xs"><br><br><br><br><br><br></div>
		<br><br>
		<div class="sector12" style="display: table;padding-bottom: 80px;">
		  <div class="container-fluid text-left" style="float: none; display: table-cell;vertical-align: bottom;">
			
			<div class="row">
				<div class="col-sm-2"></div>
				<div class="col-sm-8">
					<div ng-controller="videoPopupCtrl" class="text-center ng-scope"><button ng-click="open('epi-presentation.mp4')" type="button" class="btn btn-default button1">entdecke epirent</button></div>
					
					<h1 class="text1">Jetzt einen Präsentationstermin  vereinbaren</h1>      
					<p class="text3 text-justify">
						Kostenlos und unverbindlich. Lerne epirent kennen. Wir helfen bei Deinen 
						Entscheidungen. In nur dreißig Minuten zeigt Dir ein freundlicher Mitarbeiter von 
						uns, ob epirent das richtige Tool für Dich ist. Dabei bekommst Du genau den 
						Einblick in den Workflow und die Möglichkeiten von epirent.
						<br><br>
						Bitte downloade dazu den epi HelpDesk  und unsere Demo, so dass der Mitarbeiter
						via Fernsteuerung die Präsentation durchführen kann. 
					</p>
					
				</div>
				<div class="col-sm-2"></div>
			</div>
			<div class="row">
				<div class="col-sm-2"></div>
				<div class="col-sm-8">
				
					<div class="row">
						<div class="col-sm-6 text-left"><a class="link1 cursorPointer" ng-click="navigateTo('downloads/'+lang)">Demo downloaden..</a></div>
						<div class="col-sm-6 text-left"><a class="link1 cursorPointer" ng-click="navigateTo('contact/'+lang)">Termin vereinbaren...</a></div>
					</div>
				
				</div>
				<div class="col-sm-2"></div>
			</div>
			
			
		  </div>
		</div>
	</div>

