<!-- SEITE HOCHLADEN-->


<div class="products_pages service_support">
    <div ng-include="'content/de/products/_navigation/index.html'"></div>
    
    <div class="container">

        <div style="height: 70px;"></div>
        <h1 class="text1" style="color: #414141;">Service &amp; Support.</h1>
        <h1 class="text2" style="/*color: #414141;*/">
            Von Vielen absolut unterschätzt.
        </h1>
        <div style="height:50px"></div>
        <p class="text3 justify-to-left">  
            Entdecke hier die Möglichkeiten, wie wir Dich bei Deiner Reise mit Deinem Business und unserer
            20-jährigen Erfahrung unterstützen und begleiten können. Dabei lassen wir nichts außer Acht. Die Planung liegt im Fokus unserer Arbeit und gleichzeitig ist es uns wichtig, dass Du am Ende genau weißt, was zu tun ist.
        </p>
        <br><br><br><br>

    </div>
<div class="container-fluid" style="background: #414141;color: white;">
<div class="container">
<br><br><br>
        <h1 class="text1" style="color: white;">Alles ist möglich.</h1>
        
<h1 class="text2" style="color: white;">Werde zum Business-Ninja.</h1>
        <br><br><br>
<p class="text3 justify-to-left" style="color: white;">Damit Du sofort mit epirent durchstarten kannst, bieten wir umfangreiche Lösungen als Services. Von der Installation oder dem Stammdaten-Import über Trainings bis zur Erstellung von Dokumentvorlagen ist es möglich, innerhalb kürzester Zeit ein gesamtes Team komplett einsatzfähig zu bekommen. Das funktioniert nur mit Deiner Unterstützung.
    </p><br><br>
    <img src="images/products/ninjawhite.png" class="img-responsive anim1" style="position:relative">
</div>
    

</div>

<div class="container-fluid" ng-class="{ 'bgr-attach-fixed' : !isMobileDevice }" style="background-image: url('images/products/dog-659856.jpg');background-repeat: no-repeat;background-size: cover;height: 700px;background-position: 30% 40%;">
    
    <div class="container anim2" style="opacity:0">
    
            <div style="height:190px"></div>
    
            <h1 class="text1" style="color: white;">Vertrauen ist gut.</h1>
    
            <h1 class="text2" style="color: white;">Zusammenarbeit ist besser.</h1>    
    
            <div style="height:200px"></div>   
            
        </div>

</div>

<div class="container-fluid" style="background: #41667A;color: white;">
<div class="container">
    <br><br><br><br><br><img style="opacity:0" src="images/products/einfachtop.png" class="img-center img-responsive anim3">
<br>
        
        <h1 class="text1" style="color: white;">Das Training.</h1>
        <h1 class="text2" style="color: white;">Deine anstehende Punktlandung.</h1>
        <p class="text3 justify-to-left" style="color: white;">
            <br><br>
            Die Qualität von epirent liegt darin, den komplizierten Arbeitsablauf so einfach wie möglich zu halten. Um die Punktlandung zu erreichen, ist es wichtig für die verschiedensten Anwendungsfälle die passenden Funktionen kennenzulernen, um die anspruchsvollen Aufgaben mit links zu meistern. Unsere Erfahrungen werden die epirent Trainer mit Leichtigkeit an Dich weiterreichen.

        </p>

    <h1 class="text3c">Wir bieten zwei Trainingsmöglichkeiten.</h1><br><br>
        
        <div class="row" >
                    <div class="col-sm-6">
                        <img src="images/products/logo_mandant.png" class="anim4" style="opacity:0">
                        <br><br>
                        <div class="text3c">Vor-Ort-Training</div>
                        <br>
                        <p class="text3" style="color: white;">
                        Bei Dir in der Firma oder in unseren Trainingsräumen. Ganz persönlich, analog und in echt ist einfach der beste Weg. In 8x45 Minuten, gerne auch auf 2 bis 3 Tage aufgeteilt, wird der professionelle Umgang mit epirent trainiert.
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <img src="images/products/logo_telefon.png" class="anim4" style="opacity:0">
                        <br><br>
                        <div class="text3c">Remote-Training</div>
                        <br>
                        <p class="text3" style="color: white;">Wenn die Zeit knapp ist komplette Trainings über mehrere Stunden innerhalb des Unternehmens zu organisieren, dann hilft die digitale Technik. Per Remote schaltet sich der Trainer auf Deinen Rechner und vermittelt das Wissen durch das Glasfasernetz.
                        </p>
                    </div>
    </div>
<br><br><br><br><br>


</div>
</div>
<div class="container-fluid" ng-class="{ 'bgr-attach-fixed' : !isMobileDevice }" style="background-image: url('images/products/billiards-1401792.jpg');background-repeat: no-repeat;background-size: cover;height: 900px;background-position: 0% 30%;color:white;">

    <div class="container">
    
            <div style="height: 480px;"></div>
            
            <div class="anim5" style="opacity:0">
                <h1 class="text1" style="color: white;">Zusammenarbeit</h1>
                <h1 class="text2" style="color: white;">Die Zukunft für Dein Unternehmen. </h1>
            </div>
            <div style="height: 200px;"> </div>
            <img src="images/icons/guru2.png" style="max-width:70%;opacity:0" class="img-center img-responsive anim6">
          
      </div>   
  

</div>
<div style="background: #9C81B8;" class="container-fluid">
<div class="br1"></div>

<div class="container">

    <h1 class="text1" style="color:white">Der epirent GURU Vertrag.
</h1>
<h1 class="text2" style="color:white;">Du bist an erster Stelle.</h1>
    
    <br><br>
<p class="text3 text-center" style="color: white;">
    

Herausforderungen und Probleme gibt es wie Sand am Meer. Vor allem im ersten Jahr kommen Anwendungsfragen und technische Schwierigkeiten auf. Gut, dass unser epirent GURU &#8203;die Nadel im Heuhaufen findet und das Problem lösen kann. Das ganze passiert schnellstmöglich per Fernzugriff.
    
      <br><br>
    <span class="text3c">Warum epirent GURU?</span> Du sparst sehr viel Geld für eine professionelle Service-Stunde bei uns.
    
    
    
</p>
<h1 class="text3c text-center" style="color: white;">Zum Vergleich</h1>
<div class="text3" style="color: white;">60 Minuten Service kosten Dich bei uns 100 ,- €. Mit epirent GURU nur noch 50,- €.</div>
<br><br>
    <h1 class="text1" style="color: white;">Vom Standardservice zum epirent GURU.
</h1>
<h1 class="text2" style="color: white;">Anpassbar auf jede Unternehmensgröße.

</h1>
<br><br>

<div class="text3" style="color: white;">
Wir haben genau die richtige Lösung, um das passende Paket für Dich zu schnüren. 
Klar gibt es einen Standardservice mit dem Kauf von epirent. 
Allerdings wachsen die Anforderungen mit einem wachsenden Geschäft. Deshalb ist unser Service individuell anpassbar.


</div>
<br><br>
    
    <div class="row hidden-xs ">
        
        <div class="col-sm-2"><a ng-class="{ 'btn btn-default button1 a' : selectedPacket!=packets[0].title, 'btn btn-default button1 b': selectedPacket == packets[0].title  }" ng-click="choosePacket(0)" class="btn btn-default button1 a anim7" style="opacity:0">Standard</a></div>
        <div class="col-sm-2"><a ng-class="{ 'btn btn-default button1 a' : selectedPacket!=packets[1].title, 'btn btn-default button1 b': selectedPacket == packets[1].title  }" ng-click="choosePacket(1)" class="btn btn-default button1 a anim7" style="opacity:0">GURU</a></div>
        <div class="col-sm-2"><a ng-class="{ 'btn btn-default button1 a' : selectedPacket!=packets[2].title, 'btn btn-default button1 b': selectedPacket == packets[2].title  }" ng-click="choosePacket(2)" class="btn btn-default button1 a anim7" style="opacity:0">GURU+</a></div>
        <div class="col-sm-2"><a ng-class="{ 'btn btn-default button1 a' : selectedPacket!=packets[3].title, 'btn btn-default button1 b': selectedPacket == packets[3].title  }" ng-click="choosePacket(3)" class="btn btn-default button1 a anim7" style="opacity:0">GURU WE</a></div>
        <div class="col-sm-2"><a ng-class="{ 'btn btn-default button1 a' : selectedPacket!=packets[4].title, 'btn btn-default button1 b': selectedPacket == packets[4].title  }" ng-click="choosePacket(4)" class="btn btn-default button1 a anim7" style="opacity:0">GURU WE+</a></div>
        <div class="col-sm-2"><a ng-class="{ 'btn btn-default button1 a' : selectedPacket!=packets[5].title, 'btn btn-default button1 b': selectedPacket == packets[5].title  }" ng-click="choosePacket(5)" class="btn btn-default button1 a anim7" style="opacity:0">GURU +1</a></div>
    
    </div>

    <div class="form-group visible-xs" style="padding-left: 10%;padding-right: 10%;">
        
        <div style="color:white;font-size: 20px;">Paket auswählen</div><br>
        <!--
        <select class="form-control" ng-model="selectedPacket" >
                <option ng-repeat="x in packets" value="{{x.value}}">{{x.label}}</option>
        </select>
    -->
        <div class="btn-group" uib-dropdown is-open="status.isopen">
            <button type="button" class="btn btn-primary anim7_1" uib-dropdown-toggle style="width:200px;opacity:0">
              {{selectedPacket}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button" style="width:200px">
                
                <li class="cursorPointer text-center" role="menuitem" ng-repeat="x in packets" ng-click="choosePacket($index)"><a>{{x.title}}</a></li>
            </ul>
          </div>
       
    </div>
    
    <div class="packets-height">
        <div ng-show="packets[0].show" style="color: white;" class="animate-show-hide">
            <br><br><br><br>
            <h1 class="text1" style="color: white;">Der Standardservice</h1>
            <h1 class="text3" style="color: white;">Ist bei uns natürlich mit dem Kauf von epirent inklusive.</h1>
            <br>
                <div class="row">
                   <div class="col-sm-3">
                    <div><span class="glyphicon glyphicon-triangle-bottom anim7_1_1" style="font-size: 80px;opacity:0"></span></div>
                    <div class="text3c">Laufzeit</div>
                    <div class="text3" style="color: white;">keine</div>  
                </div>
                   <div class="col-sm-3">
                    <div><span class="glyphicon glyphicon-triangle-bottom anim7_1_1" style="font-size: 80px;opacity:0"></span></div>
                    <div class="text3c">Zeitkontingent</div>
                    <div class="text3" style="color: white;">keins, nur für kleine<br> Fragen und Antworten</div>  
                </div>
                   <div class="col-sm-3">
                    <div><span class="glyphicon glyphicon-triangle-bottom anim7_1_1" style="font-size: 80px;opacity:0"></span></div>
                    <div class="text3c">Erweiterte Erreichbarkeit</div>
                    <div class="text3" style="color: white;">lt. Standardservice<br>Mo-Fr 10-12<br>und 14-16 Uhr</div>  
                </div>
                   <div class="col-sm-3">
                    <div><span class="glyphicon glyphicon-triangle-bottom anim7_1_1" style="font-size: 80px;opacity:0"></span></div>
                    <div class="text3c">Optimal für</div>
                    <div class="text3" style="color: white;">Profis, die die Tücken der Computerwelt selbst <br>schon mit links<br> beherrschen</div>  
                </div>
                </div>
                <br><br>
            </div>
            <div ng-show="packets[1].show" style="color: white;" class="animate-show-hide">
                <br><br><br><br>
            <h1 class="text1" style="color: white;">epirent GURU</h1>
            <h1 class="text3" style="color: white;">Immer Jemanden erreichen können, wenn Hilfe benötigt wird.</h1>
            <br>
                <div class="row">
                   <div class="col-sm-3">
                    <div><span class="glyphicon glyphicon-triangle-bottom" style="font-size: 80px;"></span></div>
                    <div class="text3c">Laufzeit 1 Jahr</div>
                    <div class="text3" style="color: white;">(1 Monat vor Ablauf<br> des Jahres kündbar)</div>  
                </div>
                   <div class="col-sm-3">
                    <div><span class="glyphicon glyphicon-triangle-bottom" style="font-size: 80px;"></span></div>
                    <div class="text3c">Zeitkontingent</div>
                    <div class="text3" style="color: white;">monatlich <br>60 Minuten</div>  
                </div>
                   <div class="col-sm-3">
                    <div><span class="glyphicon glyphicon-triangle-bottom" style="font-size: 80px;"></span></div>
                    <div class="text3c">Erweiterte Erreichbarkeit</div>
                    <div class="text3" style="color: white;">Mo-Fr 10-16 Uhr</div>  
                </div>
                   <div class="col-sm-3">
                    <div><span class="glyphicon glyphicon-triangle-bottom" style="font-size: 80px;"></span></div>
                    <div class="text3c">Optimal für</div>
                    <div class="text3" style="color: white;">Technische Probleme,<br>Fragen rund um <span style="font-family:myriad-set-pro_bold">epi</span>rent,<br>Dokumentanpassungen</div>  
                </div>
                </div>
                <br><br>
            </div>
            <div ng-show="packets[2].show" style="color: white;" class="animate-show-hide">
                <br><br><br><br>
                <h1 class="text1" style="color: white;">epirent GURU +</h1>
                <h1 class="text3" style="color: white;">Erweitere Dein GURU Paket um die Erreichbarkeit ausserhalb der Geschäftszeiten.</h1>
                <br>
                    <div class="row">
                    <div class="col-sm-3">
                        <div><span class="glyphicon glyphicon-triangle-bottom" style="font-size: 80px;"></span></div>
                        <div class="text3c">Laufzeit 1 Jahr</div>
                        <div class="text3" style="color: white;">(1 Monat vor Ablauf<br> des Jahres kündbar)</div>  
                    </div>
                    <div class="col-sm-3">
                        <div><span class="glyphicon glyphicon-triangle-bottom" style="font-size: 80px;"></span></div>
                        <div class="text3c">Zeitkontingent</div>
                        <div class="text3" style="color: white;">monatlich <br>60 Minuten</div>  
                    </div>
                    <div class="col-sm-3">
                        <div><span class="glyphicon glyphicon-triangle-bottom" style="font-size: 80px;"></span></div>
                        <div class="text3c">Erweiterte Erreichbarkeit</div>
                        <div class="text3" style="color: white;">Mo-Fr 7-19 Uhr</div>  
                    </div>
                    <div class="col-sm-3">
                        <div><span class="glyphicon glyphicon-triangle-bottom" style="font-size: 80px;"></span></div>
                        <div class="text3c">Optimal für</div>
                        <div class="text3" style="color: white;">Professionelle größere <br>Unternehmen, die eine <br>höhere Flexibilität im <br>Service benötigen&#8203;</div>  
                    </div>
                </div>
                <br><br>
            </div>
            <div ng-show="packets[3].show" style="color: white;" class="animate-show-hide">
                <br><br><br><br>
            <h1 class="text1" style="color: white;">epirent GURU WE</h1>
            <h1 class="text3" style="color: white;">Erweitere Dein GURU Paket um die Erreichbarkeit am Wochenende.</h1>
            <br>
                <div class="row">
                   <div class="col-sm-3">
                        <div><span class="glyphicon glyphicon-triangle-bottom" style="font-size: 80px;"></span></div>
                        <div class="text3c">Laufzeit<br> 1 Jahr</div>
                        <div class="text3" style="color: white;">(1 Monat vor Ablauf <br>des Jahres kündbar)</div>  
                    </div>
                   <div class="col-sm-3">
                    <div><span class="glyphicon glyphicon-triangle-bottom" style="font-size: 80px;"></span></div>
                    <div class="text3c">Zeitkontingent</div>
                    <div class="text3" style="color: white;">monatlich <br>60 Minuten</div>  
                  </div>
                   <div class="col-sm-3">
                    <div><span class="glyphicon glyphicon-triangle-bottom" style="font-size: 80px;"></span></div>
                    <div class="text3c">Erweiterte <br>Erreichbarkeit</div>
                    <div class="text3" style="color: white;">Sa-So 10-16 Uhr</div>  
                   </div>
                   <div class="col-sm-3">
                    <div><span class="glyphicon glyphicon-triangle-bottom" style="font-size: 80px;"></span></div>
                    <div class="text3c">Optimal für</div>
                    <div class="text3" style="color: white;">Große Unternehmen, die <br>auch Servicesicherheit<br> am Wochenende und <br>somit einen höheren<br> professionelle Anspruch <br>von uns geniessen wollen.</div>  
                   </div>
                </div>
                <br><br>
            </div>
            <div ng-show="packets[4].show" style="color: white;" class="animate-show-hide">
                <br><br><br><br>
            <h1 class="text1" style="color: white;">epirent GURU WE+</h1>
            <h1 class="text3" style="color: white;">Erweitere Dein GURU Paket um die Erreichbarkeit am Wochenende zu .</h1>
            <br>
                <div class="row">
                   <div class="col-sm-3">
                    <div><span class="glyphicon glyphicon-triangle-bottom" style="font-size: 80px;"></span></div>
                    <div class="text3c">Laufzeit<br> 1 Jahr</div>
                    <div class="text3" style="color: white;">(1 Monat vor Ablauf <br>des Jahres kündbar)</div>  
                   </div>
                   <div class="col-sm-3">
                    <div><span class="glyphicon glyphicon-triangle-bottom" style="font-size: 80px;"></span></div>
                    <div class="text3c">Zeitkontingent</div>
                    <div class="text3" style="color: white;">monatlich<br> 120 Minuten</div>  
                   </div>
                   <div class="col-sm-3">
                    <div><span class="glyphicon glyphicon-triangle-bottom" style="font-size: 80px;"></span></div>
                    <div class="text3c">Erweiterte <br>Erreichbarkeit</div>
                    <div class="text3" style="color: white;">Sa-So 7-10 Uhr<br> und 16-19 Uhr</div>  
                   </div>
                   <div class="col-sm-3">
                    <div><span class="glyphicon glyphicon-triangle-bottom" style="font-size: 80px;"></span></div>
                    <div class="text3c">Optimal für</div>
                    <div class="text3" style="color: white;">Große Unternehmen, die<br> mehr Sicherheit eines<br> erreichbaren<br> Services auch an<br> Wochenenden<br> benötigen.</div>  
                   </div>
                </div>
                <br><br>
            </div>
            <div ng-show="packets[5].show" style="color: white;" class="animate-show-hide">
                <br><br><br><br>
            <h1 class="text1" style="color: white;">epirent GURU +1</h1>
            <h1 class="text3" style="color: white;">Erweitere Dein GURU Paket um eine zusätzliche Stunde.</h1>
            <br>
                <div class="row">
                   <div class="col-sm-3">
                    <div><span class="glyphicon glyphicon-triangle-bottom" style="font-size: 80px;"></span></div>
                    <div class="text3c">Laufzeit<br> 1 Jahr</div>
                    <div class="text3" style="color: white;">(1 Monat vor Ablauf<br> des Jahres kündbar)</div>  
                  </div>
                   <div class="col-sm-3">
                    <div><span class="glyphicon glyphicon-triangle-bottom" style="font-size: 80px;"></span></div>
                    <div class="text3c">Zeitkontingent</div>
                    <div class="text3" style="color: white;">zusätzlich<br> 60 Minuten</div>  
                   </div>
                   <div class="col-sm-3">
                    <div><span class="glyphicon glyphicon-triangle-bottom" style="font-size: 80px;"></span></div>
                    <div class="text3c">Erweiterte<br> Erreichbarkeit</div>
                    <div class="text3" style="color: white;">Mo-Fr 10-16 Uhr</div>  
                   </div>
                   <div class="col-sm-3">
                    <div><span class="glyphicon glyphicon-triangle-bottom" style="font-size: 80px;"></span></div>
                    <div class="text3c">Optimal für</div>
                    <div class="text3" style="color: white;">Für alle die mehr <bt>zeitliches Kontingent im<br> Monat mit unserem <br>professionellen Service <br>brauchen.</bt></div>  
                   </div>
                </div>
                <br><br>
            </div>
    </div>

    
    
    
    
    
    

    
</div>
</div>
<div style="background: #BEE5FB;" class="container-fluid">

    <div class="container">


        <div style="height:100px"></div>
        <img src="images/products/ref_512x512.png" class="img-center img-responsive anim8" style="max-width:70%;opacity:0"> 
        <div style="height:100px"></div>
        <h1 class="text1">Der Up-ToDate Vertrag.</h1>
        <h1 class="text2" style="
            color: black;
        "><span class="bold">epi</span>rent <span class="bold">wird</span> besser und besser...</h1>
        <br><br><br><br>
        <div class="container">
        <p class="text3 justify-to-left">Dein epirent wird mit jedem Update noch smarter. Durch das Feedback unserer Kunden pflegen wir alle Dienste und Funktionen und setzen immer neue Features um. Kurz gesagt: epirent, wie Du es heute kaufst, ist morgen schon wieder einen Schritt weiter.</p>
        
        <br><br><br>
        <div class="row">
                <div class="col-sm-3">
                    <div><span class="glyphicon glyphicon-triangle-bottom anim8_1" style="font-size: 80px;color: #00B3FF;opacity:0"></span></div>
                    <div class="text3c">Optimal</div>
                    <div class="text3">
        Wir arbeiten zusammen.
        epirent wächst aus der Praxis.
        Bugs werden behoben.
        Features schnellstmöglich implementiert.

        </div>  
                </div>
                <div class="col-sm-3">
                    <div><span class="glyphicon glyphicon-triangle-bottom anim8_1" style="font-size: 80px;color: #00B3FF;opacity:0"></span></div>
                    <div class="text3c">Einstieg</div>
                    <div class="text3">
                        1 Jahr kostenlos<br>
                        (Beim Kauf ab der<br>
                        ersten epirent Lizenz)
                    </div>  
                </div>
                <div class="col-sm-3">
                    <div><span class="glyphicon glyphicon-triangle-bottom anim8_1" style="font-size: 80px;color: #00B3FF;opacity:0"></span></div>
                    <div class="text3c">Laufzeit</div>
                    <div class="text3">
        1 Jahr<br>
        (kündbar bis<br>
        1 Monat vor Ablauf)</div>  
                </div>
                <div class="col-sm-3">
                    <div><span class="glyphicon glyphicon-triangle-bottom anim8_1" style="font-size: 80px;color: #00B3FF;opacity:0"></span></div>
                    <div class="text3c">Updates</div>
                    <div class="text3">Regelmäßig mind.<br> alle 8 Wochen, <br>Bugreports und<br> Features werden auf<br> der Supportseite veröffentlicht</div>  
                </div>
                </div>

        <div>
        <span class="glyphicon glyphicon-triangle-bottom anim8_1" style="font-size: 180px;color: #FFB700;;opacity:0"></span>
        </div>

        <h1 class="text1">Eine Investition in die Zukunft.</h1>

        <p class="text3">Beim Wiedereintritt in den Up-To-Date-Plan hast Du automatisch die neueste Version auf Deinem System. Ganz egal, wie lange Du den Vertrag schon nicht mehr hattest!</p>
        
        </div>

        <br><br><br><br>

    </div>   

</div>
<div style="background: #FF6B6B;" class="container-fluid">
    <div class="container">
        <br><br><br>
        <img src="images/products/wiz_512x512.png" class="img-center img-responsive anim8_2" style="opacity:0">
        <br><br><br>
        <h1 class="text1" style="color: white;">Der Update Service Vertrag.</h1>
        <h1 class="text2" style="color: white;">Du arbeitest. Wir frischen auf.</h1>
        <br><br><br>
        <p class="text3" style="color: white;">Wenn der IT-Fachmann fehlt, dann kann zusätzlich noch der Update Service Vertrag gebucht werden. Dann sind wir Dein IT-Fachmann und schalten uns außerhalb der Produktivzeiten auf Dein System, aktualisieren die Software und prüfen dazu die Konsistenz und Fehlerfreiheit Deiner Datenbank, um eventuelle Probleme noch in der Entstehungsphase zu lösen.</p>

        <br><br>

        <div class="row" style="color: white;">
                <div class="col-sm-3">
                    <div><span class="glyphicon glyphicon-triangle-bottom anim8_2_1" style="font-size: 80px;color: #00B3FF;opacity:0"></span></div>
                    <div class="text3c">Optimal</div>
                    <div class="text3" style="color: white;">
        Immer die neuste Version sofort auf dem System installiert bekommen
        </div>  
                </div>
                <div class="col-sm-3">
                    <div><span class="glyphicon glyphicon-triangle-bottom anim8_2_1" style="font-size: 80px;color: #00B3FF;opacity:0"></span></div>
                    <div class="text3c">Extraleistungen</div>
                    <div class="text3" style="color: white;">Prüfung der Datenbank auf Fehlerfreiheit</div>  
                </div>
                <div class="col-sm-3">
                    <div><span class="glyphicon glyphicon-triangle-bottom anim8_2_1" style="font-size: 80px;color: #00B3FF;opacity:0"></span></div>
                    <div class="text3c">Druchführung</div>
                    <div class="text3" style="color: white;">Immer außerhalb der Produktivzeiten</div>  
                </div>
                <div class="col-sm-3">
                    <div><span class="glyphicon glyphicon-triangle-bottom anim8_2_1" style="font-size: 80px;color: #00B3FF;opacity:0"></span></div>
                    <div class="text3c">Laufzeit</div>
                    <div class="text3" style="color: white;">1 Jahr<br>
        (Kündigung 1 Monat<br> vor Ablauf)</div>  
                </div>
            </div>
            <br><br>
    </div>
</div>
<div class="container-fluid" ng-class="{ 'bgr-attach-fixed' : !isMobileDevice }" style="background-image: url('images/products/gear-2720576.jpg');background-repeat: no-repeat;background-size: cover;height: 500px;background-position: 0% 30%;color:white;">
<img src="images/products/logo-quality.png" style="margin-top: 380px; max-width:70%;opacity:0" class="img-center img-responsive anim9">

</div>
<br><br><br><br><br><br><br><br><br><br><br>
<div class="container">
    <br><br><br><br><br><br>
  <h1 class="text1">Professionelle Serviceleistungen.</h1>
    <h1 class="text2" style="/*color: black;*/">Nicht alles was glänzt muss gleich ein Vertrag sein. </h1>
    <br><br>
    
  <p class="text3">Buche professionelle Serviceleistungen einmalig, wenn Du uns braucht. 
      Dabei kannst Du selbst bestimmen, welchen Service du in Anspruch nehmen möchtest oder lass Dich von uns kurz beraten.</p>
  <br><br><br>
  </div>
<div class="container-fluid" style="background: #E5FAD1;">
  <div class="container">
  <br><br><br><br>
    <img src="images/products/edit_512x512.png" style="width: 144px;opacity:0" class="anim10">
  <br><br><br>
  <h1 class="text3c">Dokumentvorlagen</h1>
<p class="text3">
Schicke uns das Layout mit Deinem Design und wir setzen alle Vorlagen in epirent um. Auf Wunsch gerne auch mehrsprachig. Um lange Korrekturphasen zu vermeiden und auf Deine Wünsche direkt eingehen zu können, lade Dir hier gleich das Anforderungsdokument herunter und schicke es uns ausgefüllt zu.
</p>
<br><br>
<a class="btn btn-default button1 bgr_transparent"  href="_epidownloads/products/Dokumentanforderung.pdf.zip">Download der Vorlagenforderung</a>
<br><br><br>
</div>
</div>
<div class="container-fluid" style="background: #D9F0FD">
  <div class="container">
  <br><br><br><br>
    <img src="images/products/ntwrk_512x512.png" style="width: 144px;opacity:0" class="anim11">
  <br><br><br>
  <h1 class="text3c">Datenmigration</h1>
<p class="text3">
Keine Datenbank der Welt funktioniert ohne Stammdaten. Wir führen für Dich den Stammdatenimport durch. Lade Dir hier eine Tabellenvorlage für Artikel und Adressen und bereite alles vor, damit wir den Rest für Dich übernehmen können.</p>
<br><br>
<a class="btn btn-default button1 bgr_transparent" href="_epidownloads/products/epirent-Import.zip">Download der Importtabellen</a>
<br><br><br>
</div>
</div>
<div class="container-fluid" style="background: #ADC6F8;">
  <div class="container">
  <br><br><br><br>
    <img src="images/products/wiz_512x512grey.png" style="width: 144px;opacity:0" class="anim12">
  <br><br><br>
  <h1 class="text3c">Update Service</h1>
<p class="text3">
Wir sind zur Stelle, wenn das aktuelle Update installiert werden soll. Gleichzeitig prüfen wir auch noch die Konsitenz und Fehlerfreiheit Deiner Datenbank, um eventuelle Probleme in der Entstehungsphase zu lösen. </p>
<br>


</div>
</div>
<div class="container-fluid" style="background: #ADC6F8;;height:15px;"></div>
<div class="container-fluid" style="background: #ADC6F8;;height:55px;">
  <div class="container">
    <img src="images/products/bestdeal.png"  class="img-responsive img-center anim12_1" >
  </div>
  
</div>


<div class="container-fluid" style="background: #E5FAD1;">
  <div class="container">
    <br><br><br><br><br>
    <img src="images/products/hd_512x512.png" style="width: 144px;opacity:0" class="anim13">
    <br><br>
    <h1 class="text3c">Remote Helpdesk</h1>
    <p class="text3">
        Nach Terminvereinbarung helfen wir da, wo es drückt.
        Ob Anpassung von Dokumenten, Hilfe in der epirent Bedienung oder bei technischen Schwierigkeiten. 
        Abgerechnet wird bei diesem Service in ganz fair in einer 15 Minuten Taktung.
    </p>
    <br><br>
    
   
</div>
</div>




</div>