  <!--2.IMGLINK-IMGLINK-->
	 <div style="height:{{row.gap_up}}px"></div>
	<div class="container-fluid ">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-5"><img ng-show="row.imgLink1" src="{{'../content/_media/img/cms/'+row.imgLink1}}" class="imgLink img-responsive img-center" ng-click="gotoURL(row.imgLink1URL)"></div>
            <div class="col-sm-5"><img ng-show="row.imgLink2" src="{{'../content/_media/img/cms/'+row.imgLink2}}" class="imgLink img-responsive img-center" ng-click="gotoURL(row.imgLink2URL)"></div>
            <div class="col-sm-1"></div>
        </div>
    </div>
	<div style="height:{{row.gap_down}}px"></div>
    <!--2.IMGLINK-IMGLINK-->

